{% extends 'base.html' %}

{% block header %}
  <head>
    {% if g.user %}
      <meta http-equiv="refresh" content="{{ refresh }}">
    {% endif %}
  </head>
{% endblock %}

<section class="content">
  {% block content %}
    {% if g.user %}

      <!-- Controller status if user logged in. -->
      <h2>{{ cData["name"] }}</h2>
      {% if linkStale == True %}
        <a>Waiting for controller to connect...</a>
      {% else %}
        <div>
          <table style="text-align:left">
            <tr>
              <th width="75px"; ><a>State</a></th>
              <th width="75px"; ><a-dyn>{{ cData["state"] }}</a-dyn></th>
            </tr>
            <tr>
              <th><a>Time</a></th>
              <th><a-dyn>{{ cData["cTime"] }}</a-dyn></th>
            </tr>
          </table>
          <table style="text-align:left">
            <!-- Row with current mode, and mode set buttons. -->
            <tr>
              <th width="75px"; ><a>Mode</a></th>
              <th>
                <div class="{{"modebtn" if cData["mode"] != "ON" else "modebtnDisabled"}}">
                  <form method="post" action="/">
                    {% if cData["mode"] == "ON" %}
                      <button type="submit" value="ON" name="MODEON" disabled>ON</button>
                    {% else %}
                      <button type="submit" value="ON" name="MODEON">ON</button>
                    {% endif %}
                  </form>
                </div>
              </th>
              <th>
                <div class="{{"modebtn" if cData["mode"] != "OFF" else "modebtnDisabled"}}">
                  <form method="post" action="/">
                    {% if cData["mode"] == "OFF" %}
                      <button type="submit" value="OFF" name="MODEOFF" disabled>OFF</button>
                    {% else %}
                      <button type="submit" value="OFF" name="MODEOFF">OFF</button>
                    {% endif %}
                  </form>
                </div>
              </th>
              <th>
                <div class="{{"modebtn" if cData["mode"] != "AUTO" else "modebtnDisabled"}}">
                  <form method="post" action="/">
                    {% if cData["mode"] == "AUTO" %}
                      <button type="submit" value="AUTO" name="MODEAUTO" disabled>AUTO</button>
                    {% else %}
                      <button type="submit" value="AUTO" name="MODEAUTO">AUTO</button>
                    {% endif %}
                  </form>
                </div>
              </th>
              <th>
                <div class="{{"modebtn" if cData["mode"] != "MANUAL" else "modebtnDisabled"}}">
                  <form method="post" action="/">
                    {% if cData["mode"] == "MANUAL" %}
                      <button type="submit" value="MANUAL" name="MODEMANUAL" disabled>MANUAL</button>
                    {% else %}
                      <button type="submit" value="MANUAL" name="MODEMANUAL">MANUAL</button>
                    {% endif %}
                  </form>
                </div>
              </th>
            <tr>
          </table>
          <table style="text-align:left">
            <tr>
              <th width="75px"><a>{{ iData["gName"] }}</a></th>
              <th>
                {% for i in iData["inputs"] %}
                  <span class="{{"activeIO" if i["iActive"] == True else "inactiveIO"}}">{{i["iName"]}}</span>
                {% endfor %}
              </th>
            </tr>
          </table>
          <table style="text-align:left">
            <tr>
              <th width="75px"><a>{{ oData["gName"] }}</a></th>
              <th>
                {% for o in oData["outputs"] %}
                  <span class="{{"activeIO" if o["oActive"] == True else "inactiveIO"}}">{{o["oName"]}}</span>
                {% endfor %}
              </th>
            </tr>
          </table>
          <table style="text-align:left">
            <th width="75px"><a>Program</a></th>
              <th width="75px"><a-dyn>{{ cData["program"] }}</a-dyn></th>
            </tr>
          </table>
        </div>
      {% endif %}

      {% else %}
      <p>Thank you for using Automata.</p>

    {% endif %}
  {% endblock %}
</section>