{% extends 'base.html' %}

{% block header %}
  <head>
    {% if g.user %}
      <meta http-equiv="refresh" content="{{ refresh }}">
    {% endif %}
  </head>
{% endblock %}

<section class="content">
  {% block content %}
    {% if g.user %}

      <!-- Controller status if user logged in. -->
      <h2>{{ cData["name"] }}</h2>
      {% if linkStale == True %}
        <a>Waiting for controller to connect...</a>
      {% else %}
        <div>
          <table style="text-align:left">
            <tr>
              <th width="75px"; ><a>State</a></th>
              <th width="75px"; ><a-dyn>{{ cData["state"] }}</a-dyn></th>
            </tr>
            <tr>
              <th><a>Time</a></th>
              <th><a-dyn>{{ cData["cTime"] }}</a-dyn></th>
            </tr>
            <!-- Row with current mode, and mode set buttons. -->
            <tr>
              <th><a>Mode</a></th>
              <th><a-dyn>{{ cData["mode"] }}</a-dyn></th>
              <th>
                <div class="modebtn">
                  <form method="post" action="/">
                    <button type="submit" value="ON" name="MODEON">ON</button>
                  </form>
                </div>
              </th>
              <th>
                <div class="modebtn">
                  <form method="post" action="/">
                    <button type="submit" value="OFF" name="MODEOFF">OFF</button>
                  <form>
                </div>
              </th>
              <th>
                <div class="modebtn">
                  <form method="post" action="/">
                    <button type="submit" value="AUTO" name="MODEAUTO">AUTO</button>
                  <form>
                </div>
              </th>
              <th>
                <div class="modebtn">
                  <form method="post" action="/">
                    <button type="submit" value="MANUAL" name="MODEMANUAL">MANUAL</button>
                  <form>
                </div>
              </th>
            <tr>
              <th><a>Program</a></th>
              <th><a-dyn>{{ cData["program"] }}</a-dyn></th>
            </tr>
            <tr>
              <th><a>Outputs</a></th>
              <th><a-dyn>{{ cData["outputs"] }}</a-dyn></th>
            </tr>
        </table>
        </div>
      {% endif %}

      {% else %}
      <p>Thank you for using Automata.</p>

    {% endif %}
  {% endblock %}
</section>